body {
  background-color: #b4b4b4;
  color: black;
}
header {
  background-color: #333333;
  margin: 10px;
  padding: 5px;
  color: white;
  border-radius: 10px;
  text-align: center;
}
footer {
  font-size: small;
  margin-top: 15px;
}

.App-signature {
  max-width: 200px;
}

.App-header-text {
  font-size: 30px;
  margin-left: 15px;
}
